// GENERAL ANIMATIONS 

@keyframes click {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}




// VALIDATE Element 

.flash {
    animation: flash 2s ease-in infinite;
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fa-hand-pointer {
    position: absolute;
    top: -4px;

}

.up_down {
    animation: up_down 1s linear infinite;
}

@keyframes up_down {
    0% {
        top: 1px;
    }

    50% {
        top: -3px;
    }

    100% {
        top: 1px;
    }
}

//WELCOME SECTION ANIMATION


.fade_in {
    animation: fade 1s ease-out both;
}

@keyframes fade {
    from {
        top: -30px;
        opacity: 0;
    }


    to {
        top: 0px;
        opacity: 1;
    }
}

.fade_right {
    animation: fade_right 1s ease-out 0.5s both;
}

@keyframes fade_right {
    from {
        right: -30px;
        opacity: 0;
    }


    to {
        right: 0px;
        opacity: 1;
    }
}

.fade_right2 {
    animation: fade_right2 1s ease-out 1s both;
}

@keyframes fade_right2 {
    from {
        right: -60px;
        opacity: 0;
    }


    to {
        right: 0px;
        opacity: 1;
    }
}

.fade_right3 {
    animation: fade_right3 1s ease-out 1.4s both;
}

@keyframes fade_right3 {
    from {
        right: -60px;
        opacity: 0;
    }


    to {
        right: 0px;
        opacity: 1;
    }
}

.fade_right4 {
    animation: fade_right4 1s ease-out 1.8s both;
}

@keyframes fade_right4 {
    from {
        right: -60px;
        opacity: 0;
    }


    to {
        right: 0px;
        opacity: 1;
    }
}

.fade_right5 {
    animation: fade_right5 1s ease-out 1.8s both;
}

@keyframes fade_right5 {
    from {
        right: -60px;
        opacity: 0;
    }


    to {
        right: 0px;
        opacity: 1;
    }
}


.ghost {
    animation: ghost 0.5s ease-out both;
}

@keyframes ghost {
    from {
        opacity: 0;
    }


    to {
        opacity: 1;
    }
}

.ghost3 {
    animation: ghost3 0.5s ease-out 0.2s both;
}

@keyframes ghost3 {
    from {
        opacity: 0;
    }


    to {
        opacity: 1;
    }
}




.content_stretch {
    width: 0%;
    animation: content_stretch 1s ease-out 3s both;
}


@keyframes content_stretch {
    from {
        width: 0%;
    }


    to {
        width: 100%;
    }
}

.ghost2 {
    animation: ghost2 0.5s ease-out 1s both;
}

@keyframes ghost2 {
    from {
        opacity: 0;
    }


    to {
        opacity: 1;
    }
}

.cascade_project {
    animation: cascade_project 3s ease-out both;
}

@keyframes cascade_project {
    from {
        top: 0;
        font-size: 1rem;
    }


    to {
        top: 20vh;
        font-size: 35px;
    }
}




//CASCADE EFFECT

#cascading-effect-heading span {
    opacity: 0;
    position: relative;
    top: -70px;
    transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
    z-index: 90;
}




// BALLS ANIMATED BACKGROUND


#container {
    width: 100%;
    height: calc(100vh - 86px);
    position: relative;
    overflow: hidden;
}

.ball {
    position: absolute;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(175, 185, 185, 1) 0%, rgba(0, 0, 0, 0.9445028011204482) 100%);
    transition-duration: 3.5s;
    transition-timing-function: ease-in-out;
}

.ball-1 {
    width: 20px;
    height: 20px;
    top: 50px;
    left: 50px;
}

.ball-2 {
    width: 20px;
    height: 20px;
    top: 100px;
    left: 100px;
    z-index: 50;
    // background-color: rgb(163, 118, 241) !important;

}

.ball-3 {
    width: 30px;
    height: 30px;
    top: 150px;
    left: 150px;
    z-index: 50;


}

.ball-4 {
    width: 30px;
    height: 30px;
    top: 200px;
    left: 200px;
}

.ball-5 {
    width: 15px;
    height: 15px;
    top: 250px;
    left: 250px;
    z-index: 50;


}

.ball-6 {
    width: 10px;
    height: 10px;
    top: 250px;
    left: 250px;
    z-index: 50;


}

.ball-7 {
    width: 40px;
    height: 40px;
    top: 250px;
    left: 250px;
}

.ball-8 {
    width: 25px;
    height: 25px;
    top: 250px;
    left: 250px;
}

.ball-9 {
    width: 35px;
    height: 35px;
    top: 250px;
    left: 250px;
}

.ball-10 {
    width: 5px;
    height: 5px;
    top: 250px;
    left: 250px;
    z-index: 50;
}

.ball-11 {
    width: 15px;
    height: 15px;
    top: 250px;
    left: 250px;
    z-index: 50;
}





//SHAPES in WELCOME background


.shape_container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;


}

.position1 {
    left: -37px;
    bottom: -305px;

    .shape {
        // background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
        background: linear-gradient(#ccc 25%, #ddd 55%);

        animation: morph 8s ease-in-out infinite;
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        height: 240px;
        transition: all 1s ease-in-out;
        width: 250px;
        background-color: #ececec;
        // filter: drop-shadow(2px 2px 5px rgb(120, 120, 120))
    }
}

.position2 {
    right: 0 !important;
    top: -200px;

    .shape {
        background: linear-gradient(#1f1f1f 25%, #333333 55%);
        animation: morph 8s ease-in-out infinite;
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        height: 400px;
        transition: all 1s ease-in-out;
        width: 400px;
        background-color: aliceblue;
        // filter: drop-shadow(2px 2px 5px rgb(51, 51, 51))
    }
}



@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

//LATEST TITLE EFFECT

// @import url('https://fonts.googleapis.com/css?family=Roboto:700');

@keyframes showTopText {
    0% {
        transform: translate3d(0, 100%, 0);
    }

    40%,
    60% {
        transform: translate3d(0, 50%, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes showBottomText {
    0% {
        transform: translate3d(0, -100%, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

.animated-title {
    // color: #222;
    // font-family: Roboto, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // position: absolute;
    // left: 60%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    width: 100%;
}

.animated-title>div {
    height: 50%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.animated-title>div div {
    padding: 1vmin 0;
    position: relative;
}

.animated-title>div div span {
    display: block;
}

.animated-title>div.text-top {
    border-bottom: 3px solid #908f8f;

    top: 0;
}

.animated-title>div.text-top div {
    animation: showTopText 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
}


.animated-title>div.text-bottom {
    bottom: 0;
}

.animated-title>div.text-bottom div {
    animation: showBottomText 0.5s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);

}


//TITLE EFFECT 



// .container_title {
//     width: 9.25em;
//     height: 1.15em;
//     font-size: 4rem;
//     position: relative;
// }

// .container_title div {
//     position: absolute;
//     left: 0;
//     text-transform: uppercase;
//     width: 100%;
//     display: block;
//     text-align: center;
// }

// .upper {
//     top: 0;
//     height: 52.5%;
//     color: #121212;
//     overflow: hidden;
//     z-index: 3;
//     animation: moveUp 1s ease-in-out 1 1.5s both;
//     background-color: #f4f4f4;

// }

// .lower {
//     bottom: 0;
//     color: #121212;
//     height: 100%;
//     background: linear-gradient(180deg, #f4f4f4 52.5%, #121212 52.5%);
//     color: transparent;
//     background-clip: text;
//     -webkit-background-clip: text;
//     z-index: 1;
//     animation: moveDown 1s ease-in-out 1 2.5s both;
// }

// .inside_title {
//     position: absolute;
//     top: 40%;
//     font-weight: 500;
//     transform: translateY(-40%);
//     text-align: center;
//     z-index: 2;
//     font-size: 1rem;
//     color: #121212;
// }

// @keyframes moveUp {

//     0% {
//         top: 0;
//     }


//     100% {
//         top: -45px;
//     }
// }

// @keyframes moveDown {

//     0% {
//         top: 0;
//     }


//     100% {
//         top: 30px;
//     }
// }

// @media (max-width: 424px) {
//     .container_title {
//         font-size: 2.5rem;

//     }

//     .inside_titl {
//         font-size: 0.75rem;
//     }
// }

// @media (max-width: 320px) {
//     .container_title {
//         font-size: 2rem;

//     }

//     .inside_title {
//         font-size: 0.5rem;
//     }
// }