@use "./variables" as *;

.jumbotron {

    padding-top: 86px;


    //EFFECT TYPING WEB DEVELOPER

    .wrapper {
        vertical-align: middle;
        white-space: nowrap;
        animation: appear 0s both 3s;
        opacity: 0;

    }

    .typing-demo {
        width: 16ch;
        animation: typing 2s steps(16) 3s, blink .5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
        color: $hay;

    }

    @keyframes typing {
        from {
            width: 0
        }
    }

    @keyframes blink {
        50% {
            border-color: transparent
        }
    }

    @keyframes appear {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }


    //TEXT WEB DEVELOPER
    .job {
        color: #f1b504;
    }


    //INITIAL BUTTON PROJECTS
    .anchor a {
        transition-duration: 2s;
        opacity: 1;

        &.disapper {
            animation: disapper 0.4s linear both;
        }


    }


}

//PROJECTS ZONE



h1 {
    transition-duration: 2s;
}

.main_photo {
    height: 350px;
}


.main_container {
    transition-duration: 1s;
    padding-top: 40px;
    // overflow-x: hidden;


    .my_card {

        transition-duration: 0.4s;
        height: 300px;
        position: sticky;
        top: 0;
        background: white;
        padding: 1.5rem;
        border-radius: 4px;


    }

    .bg_dark_trnsp {
        background-color: rgba(0, 0, 0, 0.63);
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 99;
        opacity: 0;
        transition-duration: 0.4s;
    }

    img {
        // height: 300px;
        object-fit: cover;
        object-position: top;
        border-radius: 2rem 2rem 2rem 2rem;


        &.moving_image {
            position: absolute;
            top: 0;
            left: 0;
            transition: transform 0.2s ease;
        }

    }


    h6 {
        transition-duration: 0.5s;
    }


}


//RIGHT MAIN SIDE

.right_main_side {
    padding-top: 1.5rem;
    height: 50vh;
    // max-height: 50%;

    h1 {

        font-size: calc(18px + 1.4vw);
    }

    p {
        text-align: left;
        font-size: calc(15px + 0.1vh);

    }
}


@keyframes disapper {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}


//ANCHOR ARROW BUTTON FOR BACK TO THE TOP

.arrow {
    right: -100px;
    transition-duration: 0.4s;
    background-color: rgba(240, 248, 255, 0.863);
    border-radius: 50%;

}

//MEDIA QUERY

@media screen and (min-width:576px) {
    .main_photo {
        height: 500px;
    }
}


//EFFECT CARD