h1 {
    transition-duration: 2s;
}

.main_photo {
    height: 300px;
}


.main_container {
    transition-duration: 1s;
    padding-top: 40px;





    .my_card {

        transition-duration: 0.4s;
        // border: 1px solid black !important;

        .bg_dark_trnsp {
            background-color: rgba(0, 0, 0, 0.63);
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: 99;
            opacity: 0;
            transition-duration: 0.4s;
        }

        img {
            height: 300px;
            object-fit: cover;
            object-position: top;
            border-radius: 2rem 2rem 2rem 2rem;

        }

        h6 {
            transition-duration: 0.5s;
        }


    }
}

.jumbotron {

    padding-top: 86px;

    .job {
        color: #f1b504;
    }

    .anchor a {
        transition-duration: 2s;
        opacity: 1;

        &.disapper {
            animation: disapper 0.4s linear both;
        }


    }

}

@keyframes disapper {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}


//anchor arrow back to top

.arrow {
    // opacity: 0;
    right: -100px;
    transition-duration: 0.4s;
    background-color: rgba(240, 248, 255, 0.863);
    border-radius: 50%;

}



//media query


@media screen and (min-width:576px) {
    .main_photo {
        height: 500px;
    }
}