@use "./variables" as *;


.z_index {
    z-index: 100;
}

.z_index50 {
    z-index: 50;
}

.z_index_under49 {
    z-index: 49;
}

.z_index_under2 {
    z-index: 2;
}

.no_outline {
    outline: none !important;
}


.pointer {
    cursor: pointer;
}

.light_shadow {
    filter: drop-shadow(1px 1px 2px rgba(60, 60, 60, 0.819));
}

.card_shadow {
    filter: drop-shadow(2px 5px 5px rgba(42, 42, 42, 0.844))
}

.vh_100 {
    min-height: 100vh;
}

.vh100 {
    height: 100vh;
}

.vh100_max800 {
    height: 100vh;
    max-height: 800px;
}

.vh_80 {
    min-height: 80vh;
}

.rotate_180 {
    transform: rotate(180deg);
}



//TEXT SELECTOR

.text_shadow {
    text-shadow: 1px 1px 1px rgba(33, 33, 33, 0.622);
}

.text_shadow2 {
    text-shadow: 1px 2px 3px black;
}

.text_blue_night {
    color: rgb(4, 4, 148);

}

.font_w500 {
    font-weight: 500;
}

.font_s11 {
    font-size: 11px;
}

.fw_500 {
    font-weight: 500;
}

.title_size {
    font-size: calc(18px + 1.5vw);
}


.break-letter {
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}

//COLOR

.bg_snow {
    background-color: $clr_snow;
}

.cl_light_street {
    // color: rgba(158, 158, 158, 0.688);
    color: $clr_street;
}


//FOR ANIMATION


.t_duration {
    transition-duration: 0.4s;
}

.t_duration2 {
    transition-duration: 2s;
}



//MEDIA QUERY


@media screen and (min-width : 1200px) {
    .title_size {
        font-size: 50px;
    }
}

@media screen and (min-width : 1700px) {
    .jumbotron {
        height: 1000px;
    }
}

@media screen and (max-width : 366px) {
    .media_none {
        display: none !important;

    }

    .main_photo {
        height: 300px !important;
    }
}


@media screen and (max-height : 700px) and (min-width:576px) {
    .jumbotron {
        height: 850px;
    }
}