// Import all of Bootstrap's CSS
@use "./partials/variables" as *;
@use "./partials/views/about" as *;
@use "./partials/views/contacts" as *;
@use "./partials/views/single_project.scss" as *;
@use "./partials/utilities.scss" as *;
@use "./partials/hover.scss" as *;
@use "./partials/animation.scss" as *;
@use "./partials/header.scss" as *;
@use "./partials/main.scss" as *;
@use "./partials/carousel.scss" as *;
@import "/node_modules/bootstrap/scss/bootstrap";
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100,500,800';
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Fasthand&family=Poppins:wght@300;400;500;600;700;900&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    // overflow-x: hidden;
    // background: linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
}


//CUSTOMATION SCROLL BAR 

*::-webkit-scrollbar {
    width: 8px;
    /* Imposta la larghezza della scrollbar */
}

*::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Colore di sfondo della scrollbar */
}

*::-webkit-scrollbar-thumb {
    background-color: $clr_street;
    border-radius: 5px;
    /* Thumb trasparente */
}