.about_me {


    .info_container {
        min-height: 100vh;
        padding-top: 86px;
        position: relative;
        background-color: #f7f7f7;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .profile_image {
        max-width: 100%;
        border-radius: 35px;
        // margin-top: 30px;
    }


    .about_content h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .about-content p {
        font-size: 18px;
        line-height: 1.5;
    }
}

// .typing-animation {
//     position: relative;
// }

// .typing-text {
//     overflow: hidden;
//     white-space: nowrap;
//     animation: typing 3s steps(40, end) infinite;
// }

// .cursor {
//     display: inline-block;
//     vertical-align: middle;
//     width: 2px;
//     height: 20px;
//     background-color: #000;
//     animation: blink 0.7s infinite;
// }

// @keyframes typing {
//     from {
//         width: 0;
//     }
// }

// @keyframes blink {
//     50% {
//         opacity: 0;
//     }
// }