.contacts {
    height: calc(100vh - 66px);

    .business_card {
        background-color: rgb(234, 234, 234);
        border-radius: 35px;
        margin: 15px;
        filter: drop-shadow(7px 9px 9px rgb(54, 54, 54));
        max-width: 497px;

    }

    .info_container {
        position: relative;
        top: 66px;


    }
}