@use "../variables" as *;

.single_project {
    min-height: calc(100vh - 40px);
    padding-top: 48px;

    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 3%, rgba(255, 255, 255, 1) 5%, rgba(228, 228, 228, 1) 100%);

    .overlay {
        background-color: rgba(0, 0, 0, 0.653);
        opacity: 0;
    }
}

.error_404 {
    background-image: url('/DreamShaper_v5_A_lone_astronaut_finds_themselves_in_their_cham_0.jpg');
    background-position: center;
    background-size: cover;
    // background-color: aqua;
}